<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.qijiabin.core"/>

    <!-- zookeeper -->
	<bean id="zookeeper" class="com.qijiabin.core.registry.ZookeeperFactory" destroy-method="close">
		<property name="zkHosts" value="192.168.1.66:2181" />
		<property name="namespace" value="com.qijiabin.hello" />
		<property name="connectionTimeout" value="3000" />
		<property name="sessionTimeout" value="3000" />
		<property name="singleton" value="true" />
	</bean>

    <bean id="serviceRegistry" class="com.qijiabin.core.registry.ServiceRegistry">
        <property name="zkClient" ref="zookeeper"/>
    </bean>

    <bean id="rpcServer" class="com.qijiabin.core.server.RpcServer">
        <constructor-arg name="serverPort" value="8000"/>
        <constructor-arg name="serverVersion" value="0.0.1"/>
        <constructor-arg name="serverWeight" value="1"/>
        <constructor-arg name="serviceRegistry" ref="serviceRegistry"/>
    </bean>

</beans>