<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- zookeeper -->
	<bean id="zookeeper" class="com.qijiabin.core.registry.ZookeeperFactory" destroy-method="close">
		<property name="zkHosts" value="192.168.1.66:2181" />
		<property name="namespace" value="com.qijiabin" />
		<property name="connectionTimeout" value="3000" />
		<property name="sessionTimeout" value="3000" />
		<property name="singleton" value="true" />
	</bean>

    <bean id="serviceDiscovery" class="com.qijiabin.core.registry.ServiceDiscovery">
    	<property name="service" value="com.qijiabin.core.HelloService" />
		<property name="version" value="0.0.1" />
    	<property name="zkClient" ref="zookeeper"/>
    </bean>
    <bean id="serviceDiscovery2" class="com.qijiabin.core.registry.ServiceDiscovery">
    	<property name="service" value="com.qijiabin.core.SayService" />
		<property name="version" value="0.0.1" />
    	<property name="zkClient" ref="zookeeper"/>
    </bean>

    <bean name="helloService" class="com.qijiabin.core.client.RpcClientProxyFactory">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
        <constructor-arg name="serialize" value="protostuff"/>
    </bean>
    <bean name="sayService" class="com.qijiabin.core.client.RpcClientProxyFactory">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery2"/>
        <constructor-arg name="serialize" value="protostuff"/>
    </bean>

</beans>